@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400&family=Poppins:wght@500;600;700&display=swap');

* {
  scroll-behavior: smooth;
}

::selection {
  color: white;
  background: black;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: center;
  position: relative;
}

:root {
  --primary-color: #34b7a7;
  --dark-blue: #444f49;
}

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  width: 100%;
  background-color: #000;
  z-index: 2;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
  display: none;
}

.nav-links {
  display: flex;
  background: #000;
  padding: 10px 0;
  padding-right: 4em;
}

.nav-links a {
  display: block;
  padding: 15px 30px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-align: start;
  transition: color 0.3s, transform 0.5s;
}

.nav-links a:hover {
  color: #34b7a7;
  transform: scale(1.1);
}

.logo {
  width: 100px;
  font-weight: bold;
  cursor: pointer;
  padding-left: 5em;
}

.menu-icon {
  font-size: 25px;
  cursor: pointer;
  color: #34b7a7;
}

.android-hero {
  background: linear-gradient(to right, #121212 0%, var(--dark-blue) 100%);
  color: white;
  padding: 60px 5%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.hero-content {
  max-width: 800px;
  width: 100%;
  z-index: 1;
  padding: 20px;
}

.android-hero h1 {
  margin: 0;
  line-height: 1.2;
  margin-bottom: 10px;
  font-size: 60px;
}

.android-hero h2 {
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 15px;
  font-size: 25px;
}

.android-hero p {
  line-height: 1.6;
  font-size: 18px;
}

.android-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: rgba(16, 205, 114, 0.1);
  color: var(--primary-color);
  padding: 8px 20px;
  border-radius: 50px;
  font-size: clamp(0.9rem, 1.2vw, 1rem);
  margin: 20px auto;
  border: 1px solid rgba(16, 205, 114, 0.3);
  max-width: fit-content;
}

.android-tag::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background: var(--primary-color);
  border-radius: 50%;
  margin-right: 10px;
}

.cv-btn {
  margin-top: 10px;
  display: flex;
  gap: 50px;
}

.btn-android {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  color: white;
  padding: 14px 32px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  max-width: 200px;
  box-shadow: 0 4px 15px rgba(16, 205, 114, 0.3);
}

.btn-android:hover {
  background: #34b7a7;
  box-shadow: 0 10px 25px rgba(16, 205, 114, 0.3);
}

.btn-android i {
  margin-left: 8px;
  transition: transform 0.3s ease;
}

.btn-android:hover i {
  transform: translateX(5px);
}

.btn-cv {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: white;
  padding: 14px 32px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  max-width: 200px;
  border: 1px solid #34b7a7;
}

.btn-cv:hover {
  background: #34b7a7;
  box-shadow: 0 10px 25px rgba(16, 205, 114, 0.3);
}

.btn-cv i {
  margin-left: 8px;
  transition: transform 0.3s ease;
}

.btn-cv:hover i {
  transform: translateX(5px);
}

.hero-content {
  text-align: left;
  padding-right: 50px;
}


.card {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0px;
  gap: 30px;
}

.socialContainer {
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}

.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
  transform: scale(1.5);
  border-radius: 15px;
}

.containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
  transform: scale(1.5);
  border-radius: 15px;
}

.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
  transform: scale(1.5);
  border-radius: 15px;
}

.containerFour:hover {
  background-color: #25d366;
  transition-duration: 0.3s;
  transform: scale(1.5);
  border-radius: 15px;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 22px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.android-tag,
.btn-android {
  justify-content: flex-start;
  margin-left: 0;
  margin-right: 0;
}


@media (min-width: 1200px) {
  .android-hero {
    flex-direction: row;
    justify-content: center;
    text-align: left;
    padding: 0 5%;
  }
}

@media (max-width: 768px) {
  .nav-links a {
    text-align: center;
    padding: 15px;
  }

  .android-hero {
    padding: 80px 5%;
  }

  .hero-content {
    padding: 40px;
  }

  .nav-links {
    padding: 6px;
  }

  .nav-links a {
    padding: 15px;
    width: 100%;
    text-align: center;
  }

  .logo {
    padding-left: 0;
    font-size: 18px;
    padding-left: 35px;
  }
}

@media (max-width: 480px) {
  .menu-icon {
    font-size: 25px;
    display: block;
    padding-right: 20px;
  }

  nav {
    padding: 8px;
  }

  .card {
    width: 100%;
  }

  .nav-links {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    background-color: #000;
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }

  .nav-links.nav-open {
    max-height: 500px;
  }

  .nav-links a {
    padding: 15px 0;
    width: 100%;
    text-align: center;
  }

  .android-hero h2 {
    font-size: 16px;
  }

  .hero-content {
    text-align: center;
  }

  .android-hero p {
    font-size: 13px;
  }

  .android-hero h1 {
    font-size: 45px;
  }

  .tech-stack {
    justify-content: center;
  }

}

.section-title {
  text-align: center;
  margin-bottom: 40px;
}

.section-title h2 {
  color: #34b7a7;
  font-size: 30px;
}

.about-section {
  padding: 85px;
}

.about-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  color: #000;
}

.about-row {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
  flex-direction: row;
}

.about-img img {
  width: 100%;
  max-width: 320px;
  border-radius: 50%;
  border: 5px solid #34b7a7;
}

.about-content {
  text-align: start;
}

.about-content h2 {
  font-weight: 700;
  font-size: 24px;
}

.about-content p {
  padding: 15px 0;
  width: 764px;
}

.about-info {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 20px 0;
  color: #000;
}

.about-info ul {
  list-style: none;
  padding: 0;
}

.about-info ul li {
  margin-bottom: 10px;
  font-size: 15px;
}

.about-info ul li i {
  color: #34b7a7;
  margin-left: 20px;
}

.about-info ul strong {
  margin-right: 5px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .about-row {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .about-content p {
    width: 100%;
    text-align: center;
  }

  .about-img img {
    max-width: 200px;
  }
}

@media screen and (max-width: 480px) {
  .about-section {
    padding: 15px;
  }
}

.skills {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.skills-text {
  color: #000;
  font-size: 30px;
}

.row {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

@media (min-width: 992px) {
  .row {
    grid-template-columns: repeat(2, 1fr);
  }
}

.progress-title {
  font-size: 16px;
  font-weight: 700;
  color: black;
  margin: 0 0 20px;
}

.progress {
  height: 10px;
  background: #34b7a7;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 30px;
  overflow: visible;
}

.progress .progress-bar {
  position: relative;
  animation: animate-positive 2s forwards;
}

.progress .progress-bar:after {
  content: "";
  display: inline-block;
  width: 9px;
  background: #fff;
  position: absolute;
  top: -10px;
  bottom: -15px;
  right: -1px;
  z-index: 1;
  transform: rotate(35deg);
}

.progress .progress-value {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: black;
  position: absolute;
  top: -30px;
  right: -25px;
}

@keyframes animate-positive {
  from {
    width: 0;
  }
}

.progress-item.Java .progress-bar {
  width: 96%;
}

.progress-item.Kotlin .progress-bar {
  width: 90%;
}

.progress-item.Retrofit .progress-bar {
  width: 88%;
}

.progress-item.MVVM .progress-bar {
  width: 88%;
}

.progress-item.Rest-APIs .progress-bar {
  width: 94%;
}

.progress-item.Jetpack-Compose .progress-bar {
  width: 89%;
}

.progress-item.Admob .progress-bar {
  width: 91%;
}

.progress-item.Firebase .progress-bar {
  width: 83%;
}

.progress-item.Version-Control .progress-bar {
  width: 96%;
}

@media (max-width: 768px) {
  .about-row {
    flex-direction: column;
    align-items: center;
  }

  .about-img,
  .about-content {
    max-width: 100%;
    text-align: center;
  }

  .about-info {
    flex-direction: column;
    align-items: center;
  }

  .about-info ul {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}

.services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 0 30px;
}

.service {
  border-top: 3px solid #34b7a7;
  padding: 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.main-service {
  padding: 90px 50px;
}

.service:hover {
  transform: translateY(-10px);
}

.service-text-main {
  font-size: 30px;
  color: #34b7a7;
  margin-bottom: 2em;
}

.service-text {
  font-size: 24px;
  margin-bottom: 15px;
  color: #34b7a7;
}

.service-para {
  color: #000;
}

.divider {
  text-align: center;
  margin: 40px 0;
  color: #999;
}

@media (max-width: 768px) {
  .services-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .services-container {
    grid-template-columns: 1fr;
  }

  .cv-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.resume {
  padding: 90px 50px;
}

.resume-title {
  font-family: 'poppins';
  text-align: center;
  color: #34b7a7;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}

.main-title {
  font-family: 'poppins';
  color: black;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.section-title {
  font-family: 'poppins';
  font-size: 24px;
  font-weight: 700;
  color: #34b7a7;
  margin-top: 30px;
  text-align: center;
}

.company span {
  font-family: 'poppins';
  font-size: 17px;
  font-weight: 700;
}

.timeline {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 30px auto;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 43%;
  top: 0;
  width: 1px;
  height: 100%;
  background: #34b7a7;
  transform: translateX(-50%);
}

.job {
  position: relative;
  width: 86%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}

.job-title {
  color: #000;
  width: 46%;
  text-align: right;
  line-height: 2;
}

.job-title span {
  color: #888888;
}

.circle {
  position: absolute;
  left: 50%;
  top: 0;
  width: 50px;
  height: 50px;
  background: #34b7a7;
  border-radius: 50%;
  transform: translate(-50%, -10%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle::before {
  content: '\f0b1';
  font-family: FontAwesome;
  font-size: 18px;
  color: white;
}

.circle-education {
  position: absolute;
  left: 50%;
  top: 0;
  width: 50px;
  height: 50px;
  background: #34b7a7;
  border-radius: 50%;
  transform: translate(-50%, -10%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-education::before {
  content: '\f19d';
  font-family: FontAwesome;
  font-size: 18px;
  color: white;
}

.company-details {
  color: #000;
  width: 40%;
  text-align: left;
  margin-left: 90px;
  line-height: 2;
}

.resume-text {
  font-family: 'lora';
  font-weight: 400;
  font-size: 17px;
  color: #888888;
}

.resume-text strong {
  color: #000;
}

.key-responsibilities {
  font-family: 'poppins';
  font-size: 20px;
  font-weight: 700;
  margin-top: 40px;
}

@media (max-width: 1024px) {

  .timeline::before {
    left: -8%;
  }

  .job {
    flex-direction: column;
    align-items: flex-start;
  }

  .job-title {
    width: 100%;
    text-align: left;
  }

  .circle {
    left: -9%;
  }

  .company-details {
    width: 100%;
    margin-left: 0;
  }

  .portfolio {
    padding: 25px !important;
  }

  .timeline {
    width: 70%;
  }
}

@media (max-width: 768px) {

  .timeline::before {
    left: -56px;
  }

  .circle {
    left: -14%;
  }

  .job-title,
  .company-details {
    width: 100%;
    text-align: left;
  }

  .circle-education {
    left: -55px;
  }

}

@media screen and (max-width: 480px) {
  .timeline::before {
    left: -25px;
  }


  .circle {
    left: -24px;
  }

  .job-title,
  .company-details {
    width: 100%;
    text-align: left;
    margin-left: 15px;
  }

  .portfolio-item {
    padding: 0px 15px;
  }

  .main-service {
    padding: 20px;
  }

  .resume {
    padding: 50px 0px;
  }

  .circle-education {
    left: -24px;
  }

}

@media screen and (max-width: 325px) {
  .timeline::before {
    left: -25px;
  }

  .resume {
    padding: 50px 5px;
  }

  .circle-education {
    left: -24px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
}

.section-title h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.section-title p {
  font-size: 1rem;
  max-width: 600px;
  margin: 0 auto;
  color: #333;
}

.portfolio {
  padding: 85px;
}

.portfolio-filters {
  list-style: none;
  text-align: center;
  margin-bottom: 20px;
  padding: 0;
}

.portfolio-filters li {
  cursor: pointer;
  background-color: #f5f5f5;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  border-radius: 30px;
  padding: 10px 25px;
  margin: 0 10px 10px;
  text-transform: uppercase;
  transition: all 0.5s
}

.portfolio-filters li:hover,
.portfolio-filters li.filter-active {
  color: white;
  background-color: #34b7a7;
}

.portfolio-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 992px) {
  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
  }
}

@media (max-width: 576px) {
  .portfolio-container {
    grid-template-columns: 1fr;
    padding: 0;
  }
}

.portfolio-item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  opacity: 1;
  border-radius: 8px;
  transform: scale(1);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.portfolio-item.hide {
  opacity: 0;
  transform: scale(0.8);
}

.portfolio-item img {
  width: 100%;
  display: block;
}

.portfolio-info {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  padding: 15px;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.portfolio-item:hover .portfolio-info {
  opacity: 1;
}

.portfolio-info h4 {
  font-size: 16px;
  padding: 5px 10px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 10px;
}

.portfolio-info p {
  font-size: 14px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
}

.portfolio-info a {
  font-size: 24px;
  color: #fff;
  margin: 0 5px;
  transition: color 0.3s ease;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal.open {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 80%;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #ffffff;
  font-size: 40px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.hidden {
  display: none;
}

.view-more-btn {
  cursor: pointer;
  background-color: white;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  border-radius: 30px;
  padding: 15px 35px;
  transition: all 0.5s;
  margin-top: 2em;
  border: 2px solid #34b7a7;
}

.view-more-btn:hover {
  background-color: #34b7a7;
  color: white;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.contact {
  padding: 130px 20px;
}

.contact .heading {
  text-align: center;
  margin-bottom: 60px;
}

.contact .heading h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.contact .heading h2 {
  color: #34b7a7;
}

.contact .heading p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: #999999;
  margin: 20px 0 60px;
  padding: 0;
}

.contact-info .contents .info {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.contact-info .contents .info h4 {
  margin: 0;
  margin-left: 0.5rem;
  font-weight: normal;
  color: #999;
}

.contact-info .contents .info i {
  font-size: 1.2rem;
  color: #34b7a7;
}

.contact-content {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  text-align: left;
}

.contact-info {
  flex: 0 0 40%;
  max-width: 40%;
}

.contact-info .title h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 10px;
  color: #34b7a7;
  text-align: left;
}

.contact-info .title p {
  font-size: 14px;
  font-weight: 400;
  color: #999;
  line-height: 1.6;
  margin-bottom: 40px;
  text-align: left;
}

.contact-info .content .info {
  display: flex;
  align-items: center;
}

.contact-info .content .info i {
  font-size: 30px;
  margin-right: 20px;
  color: #34b7a7;
  text-align: center;
  width: 30px;
}

.contact-info .content .info h4 {
  font-size: 13px;
  line-height: 1.4;
}

.contact-info .content .info h4 span {
  font-size: 13px;
  font-weight: 300;
  color: #999999;
}

.contact-form {
  flex: 0 0 55%;
  max-width: 55%;
}

.contact-form form .form-row {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.contact-form form .form-field {
  flex: 1;
  min-width: 240px;
}

.contact-form form .form-field.full-width {
  flex-basis: 100%;
}

.contact-form .form-control {
  width: 100% !important;
  padding: 25px;
  font-size: 13px;
  margin-bottom: 10px;
  background: #f9f9f9;
  border: 0;
  border-radius: 15px;
  box-sizing: border-box;
}

.contact-form .form-control:focus {
  border: 2px solid #34b7a7;
  outline: none;
}


.contact-form .form-group {
  margin-bottom: 20px;
}

.contact-btn {
  font-family: inherit;
  font-size: 20px;
  background: #34b7a7;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 50px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.contact-btn span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.contact-btn svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.contact-btn:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.contact-btn:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.contact-btn:hover span {
  transform: translateX(5em);
}

.contact-btn:active {
  transform: scale(0.95);
}

.error {
  color: #e74c3c;
  font-size: 0.875em;
  display: block;
  margin-top: 4px;
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}


@media (max-width: 768px) {
  .contact-content {
    flex-direction: column;
  }

  .contact-info,
  .contact-form {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .contact .heading h2 {
    font-size: 26px;
  }

  .contact .heading p {
    font-size: 14px;
  }

  .contact-info .contents .info {
    justify-content: center;
  }

  .contact-info .title h3 {
    text-align: center;
  }

  .contact-info .title p {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .contact .heading h2 {
    font-size: 24px;
  }

  .contact .heading p {
    font-size: 13px;
  }

  .contact-form form .form-control {
    padding: 20px;
    font-size: 12px;
  }
}

.footer {
  background-color: #333333;
  padding: 50px 0 20px;
  color: white;
}

.footer-container {
  padding: 0 65px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  margin-bottom: 30px;
  padding: 0 15px;
  text-align: left;
  margin-top: -20px;
}

.footer-section h3 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #34b7a7;
}

.footer-section p {
  margin-bottom: 15px;
  color: #999;
  text-align: start;
  line-height: 2;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #999;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #34b7a7;
}

.footer-link {
  list-style: none;
  padding: 0;
}

.footer-link li {
  margin-bottom: 10px;
}

.footer-link a {
  color: #999;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-link a:hover {
  color: #34b7a7;
}

.footer-link li i {
  color: #34b7a7;
  margin-right: 8px;
}

.highlight {
  color: #34b7a7;
}




.footer-bottom {
  text-align: center;
  padding: 20px 20px 0;
  margin-top: 20px;
  color: #999;
  font-size: 24px;
  position: relative;
}

.footer-bottom img {
  width: 40px;
  margin-right: 8px;
}

.footer-bottom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 12em;
  right: 12em;
  height: 1px;
  background-color: #999;
}

@media (max-width: 768px) {
  .footer-section {
    flex: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-section p {
    text-align: center;
  }

  .newsletter-form {
    width: 40%;
  }

  .icons {
    justify-content: center;
  }

}

@media (max-width: 480px) {
  .newsletter-form {
    width: 80%;
  }

  .footer-container {
    padding: 0 30px;
  }

  #messageInput {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }


}

.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  background-color: #34b7a7;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 20px #34b7a7;
  transition: all 0.5s ease;
}

.back-to-top i {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.back-to-top:hover {
  background-color: #000;
}

/* --- Keyframes for different animations --- */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes rotateIn {
  from {
    opacity: 0;
    transform: rotate(-10deg) scale(0.9);
  }

  to {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }
}

.android-hero h2,
.android-hero h1,
.android-tag,
.android-hero p,
.tech-stack,
.btn-android,
.section-title,
.about-content h2,
.about-content p,
.about-info,
.skills,
.card,
.service,
.about-img,
.btn-cv,
.job,
.view-more-btn,
.portfolio-item,
.contact-info,
.form-wrapper,
.contact,
.footer {
  opacity: 0;
}

.fade-up {
  animation: fadeInUp 0.6s ease forwards;
}

.fade-left {
  animation: fadeInLeft 0.6s ease forwards;
}

.fade-right {
  animation: fadeInRight 0.6s ease forwards;
}

.zoom-in {
  animation: zoomIn 0.6s ease forwards;
}

.rotate-in {
  animation: rotateIn 0.6s ease forwards;
}

.android-hero h2 {
  animation-delay: 0.2s;
}

.android-hero h1 {
  animation-delay: 0.4s;
}

.android-tag {
  animation-delay: 0.6s;
}

.android-hero p {
  animation-delay: 0.8s;
}

.tech-stack {
  animation-delay: 1s;
}

.btn-android {
  animation-delay: 1.2s;
}

.section-title {
  animation-delay: 0.3s;
}

.about-content h2 {
  animation-delay: 0.4s;
}

.about-content p {
  animation-delay: 0.5s;
}

.about-info {
  animation-delay: 0.6s;
}

.skills {
  animation-delay: 0.3s;
}

.service:nth-child(1) {
  animation-delay: 0.3s;
}

.service:nth-child(2) {
  animation-delay: 0.5s;
}

.service:nth-child(3) {
  animation-delay: 0.7s;
}

.job {
  animation-delay: 0.4s;
}

.btn-cv {
  animation-delay: 1.2s;
}

.card {
  animation-delay: 1s;
}

.portfolio-item {
  animation-delay: 0.3s;
}

.contact-info {
  animation-delay: 0.3s;
}

.form-wrapper {
  animation-delay: 0.5s;
}

.contact {
  animation-delay: 0.3s;
}

.footer {
  animation-delay: 0.3s;
}

.view-more-btn {
  animation-delay: 0.7s;
}

.about-img {
  animation-delay: 0.5s;
}